<f:layout name="Default" />

<f:section name="Title">Create a new product</f:section>

<f:section name="Content">
<div class="col-md-6">
<f:form method="post" action="create" object="{product}" name="product" enctype="multipart/form-data">
		<f:form.hidden name="parent" property="parent" value="{parent}" />
        <div class="input-group">
                <span class="input-group-addon">Title:</span>
                <f:form.textfield property="title" name="title" class="form-control"/>
        </div>
        <br>
        <f:form.submit value="Create Product" class="btn btn-default btn-md"/>
		<!--<f:form.hidden name="parent" property="parent" value="{parent}" />-->
        <!--Title: <f:form.textfield property="title" name="title" />-->
        <!--<f:form.submit value="Create Product"/>-->
</f:form>
</div>
</f:section>