<f:layout name="Default" />

<f:section name="Title">View Product {product.title}</f:section>

<f:section name="Content">
<ul>
	<li>Title: {product.title}</li>
</ul>

<h2>Properties:</h2>
<ul>
	<f:for each="{product.properties}" as="property">
		<li><b>{property.name}</b>: {property.content}</li>
	</f:for>
</ul>

<f:render partial="Product/AddProperty" arguments="{product : product}"/>

<f:if condition="{product.children}">
	<h2>Child products:</h2>
	<f:render partial="Product/List" arguments="{products : product.children}" />
	<br>
</f:if>
	<f:link.action action="new" arguments="{parent : product}">Create new child product</f:link.action>

<f:link.action action="list">Back to list</f:link.action>
</f:section>