
<f:layout name="Default" />

<f:section name="Title"><h1>Product: {product.title}</h1></f:section>

<f:section name="Content">
    <div class="row">
        <div class="col-md-5">
    <br>
    <f:if condition="{product.properties}">
        <f:then>
            <h4>Properties:</h4>
            <ul>
                <f:for each="{product.properties}" as="property">
                    <li><strong>{property.name}</strong>: {property.content}</li>
                </f:for>
            </ul>
        </f:then>
        <f:else>
            <h4>Properties:</h4>
            <p> Sorry, there are no properties to show.</p>
        </f:else>
    </f:if>
        </div>
        <!--
        <div class="product-image col-md-7">
            <img src="{f:uri.resource(path: 'Images/foo.png')}" class="img-responsive img-thumbnail" width="500px"/>

        </div>
        -->
    </div>

    <div class="row">
    <div class="col-md-12">
    <br>

    <f:if condition="{product.children}">
        <h4>Children of {product.title}</h4>
        <f:render partial="Product/List" arguments="{products : product.children}" />
        <br>
    </f:if>
    <f:if condition="{product.parent}">
        <f:link.action class="btn btn-default btn-md" action="show" arguments="{product : product.parent}">
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            Show parent product
        </f:link.action>
    </f:if>

    </div>
    </div>
</f:section>