<div class="col-md-5">
<div class="slideOut">
        <div class="panel-heading panel-collapsed btn btn-default btn-sm" aria-label="Left Align">
                <strong class="panel-title">Add a new property</strong>
                <span class="clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>

        </div>
        <div class="panel-body" style="display: none;">
            <f:render partial="Property/AddText" arguments="{product : product}"/>

        <!--
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Text</a>
                    </li>
                    <li role="presentation">
                        <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Image</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                        <br>
                        <f:render partial="Property/AddText" arguments="{product : product}"/>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                        <br>
                        <f:render partial="Property/AddImage" arguments="{product : product}"/>
                    </div>
                </div>
            </div>
        -->

        </div>
</div>
</div>
