<div class="row">
<div class="col-md-5">
<div class="slideOut">
        <div class="panel-heading panel-collapsed btn btn-default btn-sm" aria-label="Left Align">
                <strong class="panel-title">Add a new property</strong>
                <span class="clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>

        </div>
        <div class="panel-body" style="display: none;">
                <f:form method="post" action="addProperty" object="{property}" name="property" enctype="multipart/form-data">
                        <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Name</span>
                        <f:form.textfield property="name" name="name" class="form-control" />
                        </div>
                        <br>
                        <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Content:</span>
                                <f:form.textarea property="content" name="content" class="form-control" />
                        </div>
                        <br>
                        <f:form.submit value="Create Property" class="btn btn-default btn-md"/>
                </f:form>

        </div>
</div>
</div>
</div>